.preloader{
	background-image: url("loader-circle.gif");
	background-repeat: no-repeat;
}
.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div.custom_tree_root_container {
	overflow: auto;
	width: 100%;
	height: 100%;
}
ul.custom_tree_root {
	margin: 5px;
	padding: 0px;
	font-size: 12px;
	height: 90%;
}
ul.custom_tree_root ul {
	margin: 0px;
	padding: 2px 0px 0px 17px;
}
ul.custom_tree_root li {
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0px;
}
ul.custom_tree_root li div {
	display: inline-table;
}
ul.custom_tree_root li span.tree_control{
	width: 11px;
	margin: 0px;
	padding: 0px 7px 0px 7px;
	cursor: default;
}
ul.custom_tree_root li span.tree_control.folder{
	cursor: pointer;
}
ul.custom_tree_root li span.tree_leaf_text{
	cursor: default;
	padding: 2px 8px 2px 8px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-khtml-border-radius: 4px; 
	border-radius: 4px;
	white-space: pre;
	display: inline-block;
	vertical-align: top;
}
ul.custom_tree_root li span.tree_leaf_status.loader{
    padding: 0px 1px 0px 28px;
	background-image: url("loader-slider.gif");
    background-repeat: no-repeat;
}
ul.custom_tree_root li span.selected{
	background: #C0C0C0;
	border: 1px solid gray;
	padding: 1px 8px 1px 8px;
}
ul.custom_tree_root li span.hover, ul.custom_tree_root li span.selected.hover{
	background: #ECECEC;
}